
# ðŸ§ª SQL Server â€“ Exploration des bases AdventureWorks (Docker)

Ce notebook permet de **se connecter** Ã  ton SQL Server Docker (`sql-bootcamp-server`), 
**lister les bases**, **explorer les schÃ©mas et tables**, prÃ©visualiser des donnÃ©es, et faire quelques **visualisations** simples.

> PrÃ©requis cÃ´tÃ© machine :
> - **ODBC Driver 18 for SQL Server** installÃ©
> - Paquets Python : `pyodbc`, `pandas`, `sqlalchemy` (optionnel), `matplotlib`
> - Ton conteneur `sql-bootcamp-server` actif avec SQL Server 2022

## ðŸ”§ Installation des dÃ©pendances (si nÃ©cessaire)

In [ ]:

# DÃ©commente si besoin d'installer depuis le notebook
# %pip install pyodbc pandas SQLAlchemy matplotlib

## âš™ï¸ Configuration de la connexion

In [ ]:

import os

# ParamÃ¨tres de connexion par dÃ©faut (Docker local)
SQL_SERVER = os.getenv("SQL_SERVER", "localhost")
SQL_PORT   = int(os.getenv("SQL_PORT", "1433"))
SQL_USER   = os.getenv("SQL_USER", "SA")
SQL_PASS   = os.getenv("SQL_PASS", "YourStrong@Passw0rd")

# Base par dÃ©faut (laissÃ©e vide pour interroger sys.databases)
DEFAULT_DB = os.getenv("SQL_DATABASE", "")

print(f"âž¡ï¸ Cible: {SQL_SERVER}:{SQL_PORT} (user={SQL_USER}, db={DEFAULT_DB or 'N/A'})")

## ðŸ”Œ Connexion pyodbc

In [ ]:

import pyodbc
import pandas as pd

def make_conn(database: str = ""):
    """
    Ouvre une connexion pyodbc Ã  SQL Server.
    Utilise le Driver ODBC 18 (Windows/Mac/Linux) et accepte le certificat auto-signÃ© du conteneur.
    """
    driver = "ODBC Driver 18 for SQL Server"
    conn_str = (
        f"DRIVER={{{driver}}};"
        f"SERVER={SQL_SERVER},{SQL_PORT};"
        f"UID={SQL_USER};"
        f"PWD={SQL_PASS};"
        f"DATABASE={database};"
        "Encrypt=no;"
        "TrustServerCertificate=yes;"
        "Connection Timeout=30;"
    )
    return pyodbc.connect(conn_str)

# Test de connexion (au serveur, sans base spÃ©cifique)
with make_conn("") as conn:
    df = pd.read_sql("SELECT name, database_id, create_date FROM sys.databases ORDER BY name;", conn)
df

## ðŸŽ›ï¸ SÃ©lection de la base Ã  explorer

In [ ]:

# Choisis ici la base Ã  explorer (ex: AdventureWorks2022 / AdventureWorksDW2022 / AdventureWorksLT2022)
DB_NAME = "AdventureWorks2022"  # â† modifie moi si besoin
print("Base sÃ©lectionnÃ©e:", DB_NAME)

## ðŸ“š SchÃ©mas & Tables

In [ ]:

with make_conn(DB_NAME) as conn:
    schemas = pd.read_sql(
        "SELECT DISTINCT schema_name = s.name FROM sys.schemas s ORDER BY s.name;", conn
    )
    tables = pd.read_sql(
        "SELECT TABLE_SCHEMA, TABLE_NAME FROM INFORMATION_SCHEMA.TABLES "
        "WHERE TABLE_TYPE = 'BASE TABLE' ORDER BY TABLE_SCHEMA, TABLE_NAME;",
        conn,
    )

schemas, tables.head(20)

## ðŸ‘€ PrÃ©visualiser une table

In [ ]:

def head_table(schema: str, table: str, n: int = 5):
    query = f"SELECT TOP {n} * FROM [{schema}].[{table}]"
    with make_conn(DB_NAME) as conn:
        return pd.read_sql(query, conn)

# Exemple: prÃ©visualiser les 5 premiÃ¨res lignes d'une table connue
# head_table("Person", "Person", 5)

## ðŸ”¢ Nombre de lignes par table (aperÃ§u rapide)

In [ ]:

# ATTENTION : ceci peut Ãªtre long sur de trÃ¨s grosses tables.
# Pour AdventureWorks, c'est raisonnable.
row_counts = []
with make_conn(DB_NAME) as conn:
    for _, r in tables.iterrows():
        schema, table = r["TABLE_SCHEMA"], r["TABLE_NAME"]
        q = f"SELECT COUNT(*) AS cnt FROM [{schema}].[{table}]"
        try:
            cnt = pd.read_sql(q, conn).iloc[0,0]
        except Exception as e:
            cnt = None
        row_counts.append((schema, table, cnt))

df_counts = pd.DataFrame(row_counts, columns=["schema", "table", "rows"]).sort_values(
    ["rows", "schema", "table"], ascending=[False, True, True]
)
df_counts.head(20)

## ðŸ“ˆ Exemple : Top 10 des produits par quantitÃ© vendue (AdventureWorks2022)

In [ ]:

import matplotlib.pyplot as plt

if DB_NAME == "AdventureWorks2022":
    query = (
        "SELECT TOP 10 p.Name AS ProductName, SUM(sod.OrderQty) AS TotalQty "
        "FROM Sales.SalesOrderDetail sod "
        "JOIN Production.Product p ON sod.ProductID = p.ProductID "
        "GROUP BY p.Name "
        "ORDER BY TotalQty DESC;"
    )
    with make_conn(DB_NAME) as conn:
        top_products = pd.read_sql(query, conn)

    display(top_products)

    # Chart: Matplotlib only, single plot, no custom colors
    plt.figure()
    plt.bar(top_products["ProductName"], top_products["TotalQty"])
    plt.xticks(rotation=45, ha="right")
    plt.title("Top 10 produits par quantitÃ© vendue")
    plt.xlabel("Produit")
    plt.ylabel("QuantitÃ© totale")
    plt.tight_layout()
    plt.show()
else:
    print("Change DB_NAME Ã  'AdventureWorks2022' pour exÃ©cuter cet exemple.")

## ðŸ§­ Exemples alternatifs pour DW & LT

In [ ]:

if DB_NAME == "AdventureWorksDW2022":
    q = (
        "SELECT TOP 10 d.CalendarYear, SUM(f.SalesAmount) AS TotalSales "
        "FROM dbo.FactInternetSales f "
        "JOIN dbo.DimDate d ON f.OrderDateKey = d.DateKey "
        "GROUP BY d.CalendarYear "
        "ORDER BY TotalSales DESC;"
    )
    with make_conn(DB_NAME) as conn:
        df_dw = pd.read_sql(q, conn)
    display(df_dw)

    import matplotlib.pyplot as plt
    plt.figure()
    plt.plot(df_dw["CalendarYear"], df_dw["TotalSales"], marker="o")
    plt.title("Ventes Internet par annÃ©e (Top)")
    plt.xlabel("AnnÃ©e")
    plt.ylabel("Ventes")
    plt.tight_layout()
    plt.show()

elif DB_NAME == "AdventureWorksLT2022":
    q = (
        "SELECT TOP 10 c.FirstName + ' ' + c.LastName AS FullName, COUNT(*) AS Orders "
        "FROM SalesLT.Customer c "
        "JOIN SalesLT.SalesOrderHeader h ON c.CustomerID = h.CustomerID "
        "GROUP BY c.FirstName, c.LastName "
        "ORDER BY Orders DESC;"
    )
    with make_conn(DB_NAME) as conn:
        df_lt = pd.read_sql(q, conn)
    display(df_lt)

    import matplotlib.pyplot as plt
    plt.figure()
    plt.bar(df_lt["FullName"], df_lt["Orders"])
    plt.xticks(rotation=45, ha="right")
    plt.title("Top 10 clients par nombre de commandes")
    plt.xlabel("Client")
    plt.ylabel("Nb commandes")
    plt.tight_layout()
    plt.show()
else:
    print("Change DB_NAME Ã  'AdventureWorksDW2022' ou 'AdventureWorksLT2022' pour ces exemples.")

## ðŸ§° BoÃ®te Ã  outils : exÃ©cuter une requÃªte SQL libre

In [ ]:

def run_sql(query: str, database: str = None) -> pd.DataFrame:
    database = database or DB_NAME
    with make_conn(database) as conn:
        return pd.read_sql(query, conn)

# Exemple :
# run_sql("SELECT TOP 5 * FROM Person.Person")